# Python bytecode
**/__pycache__/
*.py[c d o]
*$py.class

# Temporary data
*.egg-info/
build/
dist/
.history/

# Virtual envs
venv/
.env

# Results of the tool
# Ignore all .txt files excepts common dictionary
/*.txt
!requirements.txt
!extensions.txt
!common.txt
*.log
